/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require talking_stick/application
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);


// Whole site

html body {
  background-color: #f1f2f2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}


// Navbar

#hang-up-icon {
  width: 48px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #D4D5D5; 
}

#welcome-navbar-mojo-logo {
  margin-left: 20px;
}

.navbar-inverse {
  background-color: #17A7E4;
  border-color: #17A7E4;
}

#top-nav, #welcome-nav {
  min-height: 80px;
  border-radius: 0;
}

.navbar-default {
  background-color: #98172c;
  border-color: #98172c;
}

.fa {
  color: white;
}

.mojo-logo {
  max-height: 60px;
}

#nav-microphone, #nav-video, #nav-exit {
  display: none;
}

.navbar-nav > li > a {
  padding-bottom: 20px;
}

.nav-icon-text {
  display: none;
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Garamond Pro;
}

.navbar-nav > li > a:hover .nav-icon-text {
  display: block;   
}

.nav > li > a {
  padding: 10px 22px;
}

.nav > li {
  padding-top: 10px;
  min-height: 99px;
  min-width: 95px;
  text-align: center;
}

.navbar-collapse, .navbar-form {
  border: 0px solid rgba(0,0,0,0);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0);
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: rgba(0,0,0,0) !important;
  border-color: white !important;
}

.navbar-toggle {
  border-color: rgba(0,0,0,0) !important;
}

.icon-bar {
  background-color: white !important;
}

#welcome-nav-ul > li {
  padding-top: 25px;
}

#try-it-now-nav a {
  background-color: white;
  border: 2px solid white;
  border-radius: 2px;
  color: #17A7E4;
  font-weight: 400;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

#try-it-now-nav a:hover {
  background-color: rgba(0,0,0,0);
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  font-weight: 400;
}



// Talking Stick show.html.erb page

.friends-video {
  width: 100%;
  padding: 20px 0;
  height: auto;
}

.one-friends-video-container {
  max-width: 1500px;
}

.two-friends-video-container {
  max-width: 1500px;
}

.four-friends-video-container {
  max-width: 700px;
}

.friends-video-row {
  padding-left: 50px;
  padding-top: 70px;
}

/* Adjust the width of the video only while in the modal */
.modal #localvideo {
  max-width: inherit;
}

.video-partner-name, .room-name {
  color: #f1f2f2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room-name, .your-name-container {
  max-width: 230px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}